{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": false,
  "arrowParens": "always",
  "trailingComma": "none",
  "bracketSpacing": true,
  "semi": false,
  "useTabs": false,
  "rules": {
    "no-console": "off",
    "no-unused-vars": "warn",
    "no-undef": "error",
    "no-extra-semi": "error",
    "quotes": ["error", "double"],
    "indent": ["error", 2]
  }
}
